---
import BaseLayout from '../layouts/BaseLayout.astro'
import { buttonVariants } from '../components/ui/button'
---

<BaseLayout
  title="Greenify"
  description="Lets make the planet better"
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        About. <br class="hidden sm:inline" />
        
      </h1>
     
    </div>
   
  </section>
</BaseLayout>
